* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #282E34;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 10px;
}

/* Create three equal columns that floats next to each other */
.columnEx {
    float: left;
    display: none; /* Hide all elements by default */
}

.columnCenter{
  float: center;
  display: none;
}

@media (min-width: 768px){
.columnCenter {
    width: 50%;
}}

@media (min-width: 768px){
.columnEx {
    width: 33.33333333%;
}}

.columnVertVideo{
  float: center;
  width: 50%;
}



/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.contentExercise {
    background-color: #282E34;
    margin: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  letter-spacing: 0.1em;
  margin-right: 2.5px;
  margin-left: 2.5px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ddd;
}


.btn.active {
  background-color: #71A6A1;
  color: white;
}

.captionExercise{
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.containerExercise{
  background-color: #282E34;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px){
.containerExercise{
    width: 1170px;
}}

.contentExercise h4{
  color: #B4D6C6;
  text-align: center;
}

#myBtnContainer{
  margin-top: 15px; 
  padding-top: 15px;
}
