 @media only screen and (max-device-width: 1024px) {
    .bgimg-sessionz, .bgimg-patricia, .bgimg-dw, .bgimg-snow, .bgimg-peru{
        background-attachment: scroll;
    }
}
.bgimg-sessionz, .bgimg-patricia, .bgimg-dw, .bgimg-snow, .bgimg-peru{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-sessionz {
  background-image: url("../img/portfolio/sessionz/sessionz0.jpg");
  min-height: 50%;
}

.bgimg-patricia {
  background-image: url("../img/portfolio/patricia/patricia0.jpg");
  min-height: 50%;
}

.bgimg-dw {
  background-image: url("../img/portfolio/dw/dw0.jpg");
  min-height: 50%;
}

.bgimg-snow {
  background-image: url("../img/portfolio/snow/snow.jpg");
  min-height: 50%;
}

.bgimg-peru {
  background-image: url("../img/portfolio/peru/peru0.jpg");
  min-height: 50%;
}
@media only screen and (max-device-width: 1024px) {
    .bgimg-sessionz, .bgimg-patricia, .bgimg-dw, .bgimg-snow, .bgimg-peru{
        background-attachment: scroll;
    }
}

.precPort{
	margin: 0;
	padding: 0;
	background-color: red;
	top: 50%;
	left: 0%;
}